$white-bg: #FFFFFF;
$white-titles: #fdfffa;
$green-bg: #8ECB53;
$title-color-1: #00374E;
$title-color-2: #36B6C7;
$sub-title-color: #F390A8;
$footer-bg: #F0F1F5;
$rodape-bg: #022776;
$mainPosts-bg: #8ecb53;

$button-rosa1: #e56a88;
$button-rosa2: #f38ea6;

$button-green-1: #508F59;
$button-green-2: #8ECB53;


