@import '../../css/partials/colors';
@import '../../css/partials/mixinsDesigns';

.box-cardCases{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;

    img{
        background-color: #f8f9f9;
        width: 200px;
        border-radius: 40px 0 0 0;
        height: 180px;
        margin-bottom: 15px;
    }

    h4{
        color: $title-color-1;
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 45px;
    }

    .btn-cardCases{
        @include button-linear-rosa;
        width: 120px;
        transition: 600ms ease;

        &:hover{
            transform: translateY(-4px);
        }
    }
}